<div class="container-fluid">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">
         <div class="panel panel-primary">
            <!-- <div class="panel heading"><span class="label label-primary">Report</span></div> -->
            <div class="panel-heading">Report</div>
               <div class="panel-body">
                  <!--
                  <div ng-if="trafficDataServ.fileHandlerData.name.length <= 0">
                     No file selected!
                  </div>
                  -->
                  <div ng-if="trafficDataServ.errorStatus.errCode > 0">
                     {{ trafficDataServ.errorStatus.errMsg }}
                  </div>
                  <div>
                     <vld-traffic-report traffic-report-data="traffRepByInterval" chart-options="chartOptions" group-by="trafficDataServ.groupBy">
                     </vld-traffic-report>
                  </div>
               </div>
         </div>
      </div>
   </div>
</div>
