<div class="container-fluid">
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <vld-upload-file file-handler="lo_vlsTrafficDataServ.fileHandlerData" file-data="lo_vlsTrafficDataServ.rawData">
         </vld-upload-file>
         <hr/>
      </div>
   </div>
   <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <a class="btn btn-info" href="#/trafficreport" ng-click="processFile(lo_vlsTrafficDataServ)">Generate Report  <span class="glyphicon glyphicon-cog" aria-hidden="true"></a>
      </div>
   </div>
   <hr>
   <div class="row">
      <div class="col-md-3 col-md-offset-3">
         <a class="pull-right" href="data/Vehicle_Survey_Coding_Challenge_sample_data.txt" download>Sample vehicle survey data</a>
      </div>
   </div>

</div>
