<div>
   <ul class="list-group" ng-show="trafficReportData.length > 0">
      <li class="list-group-item">
         Group Data By:
         <select ng-model="groupBy">
            <option value="60">hour</option>
            <option value="30">30 minutes</option>
            <option value="15">15 minutes</option>
         </select>              
      </li>
      <li class="list-group-item">
         <div id="chartID"></div>
      </li>      
      <li class="list-group-item">
         <strong>Select Results:</strong><br/>
         <ul class="nav nav-tabs">            
            <li ng-repeat="trafficGroup in trafficReportData">
               <a data-toggle="tab" href="#/trafficreport/#{{trafficGroup.heading}}" class="bg-info">{{ trafficGroup.heading | uppercase }}BOUND</a>
            </li>
         </ul>
         <div class="tab-content">
            <div class="tab-pane fade in" id="{{trafficGroup.heading}}" ng-repeat="trafficGroup in trafficReportData">

                  <blockquote>
                     <dl class="dl-horizontal">
                        <dt class="label label-info text-left">By Intervals of:</dt><dd>{{ trafficGroup.intervalBy / (1000*60) }} minutes</dd>
                        <dt class="label label-info text-left">Heading:</dt><dd>{{ trafficGroup.heading | uppercase }}</dd>
                     </dl>
                  </blockquote>
                  
                  <!--
                  <button type="button" class="btn btn-success" ng-model="collapsed" ng-click="collapsed = !collapsed" ng-init="collapsed">
                     Expand Results <span class="glyphicon glyphicon-collapse-down">
                  </button>
                  -->
                  <div>
                     <!-- <table class="table" ng-show="collapsed"> --> <!-- // Expects { heading: "direction", intervalBy: int, intervalGroups: [o_vehicleGroup] } -->         
                     <table class="table"> <!-- // Expects { heading: "direction", intervalBy: int, intervalGroups: [o_vehicleGroup] } -->         
                        <thead>
                        <tr class="text-left">
                        <th></th>
                        <th scope="col">Vehicles Count</th>
                        <th scope="col">Avg Speed (KPH)</th>
                        <th scope="col">Avg Vehicle Separation (m)</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="vehicleGroup in trafficGroup.intervalGroups track by $index" ng-if="vehicleGroup.get_vehiclesCount() > 0">
                           <th scope="row" class="text-left">{{ vehicleGroup.groupID | date: "'Day: ' dd ' - ' hh:mm a" : '+0000' }}</th>
                           <td>{{ vehicleGroup.get_vehiclesCount() }}</td>
                           <td>{{ vehicleGroup.get_vehiclesAvgSpeed("kph").toFixed(2) }}</td>
                           <td>{{ vehicleGroup.get_vehiclesAvgSepDistance().toFixed() }}</td>
                        </tr>
                     </table>
                  </div>         
            </div>
         </div>               
      </li>
   </ul>
</div>   