<div class="row">
    <div class="col-md-3">
        <span class="btn btn-primary btn-file">
            <label for="uploadBtn">Upload Data File... <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></label>
            <input class= "fileInput" type="file" id="uploadBtn">
        </span>    
    </div>
    <div class="col-md-9">      
        <dl class="dl-horizontal" ng-show="pio_fileHandler.name.length > 0">
            <dt>Filename:</dt><dd>{{ pio_fileHandler.name }}</dd>
            <dt>Size:</dt><dd>{{ pio_fileHandler.size + " Bytes"}}</dd>
            <dt>Last Modified:</dt><dd>{{ pio_fileHandler.lastModifiedDate.toISOString()}}</dd>
        </dl>
    </div>    
</div>    